<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">
	
	<bean id="loader" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:monday.properties"></property>
	</bean>
	
	<bean id="employee2" class="com.intuit.Employee">
		<constructor-arg value="${my.id}"></constructor-arg>
		<constructor-arg value="${my.name}"></constructor-arg>
	</bean>
	
	
	<!-- Constructor based dependency injection -->
	<bean id="employee" class="com.intuit.Employee">
		<constructor-arg index="0" value="8863"></constructor-arg>
		<constructor-arg index="1" value="Mary"></constructor-arg>
		<!-- <property name="id" value="8863"></property>
		<property name="name" value="Mary"></property> -->
	</bean>
	
	<util:list id="books">
		<value>Programming Scala</value>
		<value>Programming Ruby</value>
		<value>Camel in action</value>
	</util:list>

	<!-- Setter based dependency injection -->
	<bean id="person" class="com.intuit.Person" lazy-init="true">
		<property name="name" value="Ram"></property>
		<property name="car" ref="ferrariCar"></property>
	</bean>

	<bean id="ferrariCar" class="com.intuit.Car">
		<property name="model" value="Ferrari"></property>
	</bean>

	<bean id="person2" class="com.intuit.Person" scope="prototype">
		<property name="name" value="Joe"></property>
	</bean>


</beans>		